<!DOCTYPE html>
<html lang="en">
    <!--HEAD-->
    <%- include("./partials/head") %>

    <body>
        <!--HEADER-->
        <%- include("./partials/header") %>

        <main class="my-2 vw-90 mx-auto ">
            <div class="titulo my-2 w-100">Pedidos</div>
            
            <section class="flex flex-wrap gap section mb-2">
                <% let contadorPedidos = 0; %>
                <% let nroPedido = 0; %>
                <% for (let i = 0; i < pedidos.length; i++) { %>
                    <% if (nroPedido !== pedidos[i].NROPED) { %>
                        <br>
                    <% } %>
                    <!-- <article class="p-2 bt-1 border-grey border-radius bg-white product-shadow w-100 md-w-50 lg-w-25"> -->
                        
                        <div class="w-100"><%=pedidos[i].NROPED%> <%= pedidos[i].FECEMISION%> <%= pedidos[i].CLIENTE%> <%= pedidos[i].clientes.RAZONSOC%> <%= pedidos[i].pedidositem.DESCART%> <%= pedidos[i].pedidositem.BULTPED%> <%= pedidos[i].pedidositem.PRECIO%></div><div class="bt-1 p-1"><a class="btn-primary-admin" href="/pedidos/edit/<%= pedidos[i].NROPED %>"> editar </a></div><div class="bt-1 p-1"><a class="btn-primary-admin" href="/pedidos/delete/<%= pedidos[i].NROPED %>"> eliminar </a></div>
                    
                        <!-- </article> -->
                    <% contadorPedidos++; %>
                    <% nroPedido = pedidos[i].NROPED; %>
                       
                <% } %>
            </section>

        </main>
        
        <!--FOOTER-->
        <%- include("./partials/footer") %>
        
        <!--SCRIPTS-->
        <script src="/js/carrousel.js"></script>         
    </body>
</html>